*~
compose-local/idm/mysql-data/
compose-local/marketplace/apis-wars/
compose-local/marketplace/charging-inst-plugins/
compose-local/marketplace/proxy-indexes/
compose-local/marketplace/proxy-locales/
